@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100;600&display=swap");
*,
*::before {
  box-sizing: border-box; }

body {
  position: relative;
  height: 100%;
  margin: 0;
  max-width: 2000px;
  min-width: 320px;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

.overflow-wrapper {
  overflow-x: hidden;
  overflow-y: hidden; }

a, p, li {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  position: relative;
  z-index: 1;
  line-height: 1.9em;
  font-size: 18px;
  margin-bottom: 0;
  text-decoration: none; }

a:hover {
  color: #2d2929;
  text-decoration: none; }

p, p span, p a, a {
  color: #2d2929; }

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
.dark p, .dark p span, .dark p a, .dark a, .dark ul, .dark li {
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montagu Slab", serif;
  font-weight: 700;
  letter-spacing: 1px; }

h1 {
  font-size: 50px; }
  @media (max-width: 1140px) {
    h1 {
      font-size: calc(16px + 2vw); } }

h2 {
  color: #2d2929;
  font-size: 30px; }
  @media (max-width: 992px) {
    h2 {
      font-size: calc(16px + 2vw); } }

/*********************************navigation  */
#navigation {
  text-align: center; }

@media (min-width: 768px) {
  #navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }
/* navigation  */
#navigation {
  text-align: center; }

@media (min-width: 768px) {
  #navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }
/* Navigation navlinks*/
#navigation .navLinks {
  padding: 0 20px; }

#navigation .navLinks ul {
  display: flex;
  padding: 0; }

#navigation .navLinks ul li {
  list-style: none;
  padding: 0 20px; }

#navigation .navLinks ul li a {
  text-decoration: none; }

#navigation .navLinks ul li a svg {
  width: 30px; }

#navigation .navLinks ul li a:hover svg,
#navigation .navLinks ul li a:hover {
  color: #aa0000;
  fill: #aa0000; }

@media (min-width: 320px) and (max-width: 767px) {
  #navigation .navLinks ul {
    justify-content: center; } }
/* Navigation logo*/
#navigation .logo figure {
  padding: 0;
  margin: 0; }

#navigation .logo figure a {
  height: 100%;
  display: flex; }

#navigation .logo figure svg {
  fill: #aa0000;
  width: 140px; }

#navigation .logo figure a:hover svg {
  fill: #000000; }

@media (min-width: 320px) and (max-width: 767px) {
  #navigation .logo figure svg {
    fill: #800000; }

  #navigation .logo figure a {
    height: 100%; }

  #navigation .logo figure svg {
    margin: 0 auto; } }
figure {
  margin: 0; }

.media-box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .media-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 0%;
    object-position: 50% 0%; }
  @media (min-width: 992px) {
    .media-box {
      min-height: 100vh;
      height: 100%; } }

figure {
  margin: 0;
  z-index: 1;
  width: 100%;
  position: relative; }
  figure svg {
    width: 100%;
    z-index: 1; }
    figure svg text {
      z-index: 2; }

svg {
  overflow: visible !important; }

.bg-img {
  height: 100%;
  min-height: 50vh;
  width: 100%;
  background-image: url("../img/placeholder.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 0; }
  @media (min-width: 1024px) {
    .bg-img {
      min-height: 70vh; } }
  @media (min-height: 1025px) {
    .bg-img {
      min-height: 40vh; } }

/*******************************/
button.github {
  display: flex;
  margin: 30px auto 0;
  padding: 10px 20px;
  align-items: center;
  border: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }
  button.github i {
    margin-right: 10px; }
  button.github:hover {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }
  @media (min-width: 1024px) {
    button.github {
      margin-right: auto;
      margin-left: 0; } }

/* Intro Home */
.intro {
  min-height: calc(100vh - 100px);
  display: flex; }
  .intro .wrapper {
    padding: 20px;
    width: 100%;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto; }
    .intro .wrapper .visual div {
      position: relative; }
      .intro .wrapper .visual div .media-box {
        min-height: 50vh; }
      .intro .wrapper .visual div .me img {
        width: 100%; }
      .intro .wrapper .visual div .dev-logo {
        max-width: 100px;
        position: absolute;
        left: -20px;
        bottom: -20px;
        z-index: 1; }
    .intro .wrapper .content {
      padding: 4%; }
      .intro .wrapper .content a {
        color: #aa0000;
        fill: #aa0000;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in; }
      .intro .wrapper .content a:hover span,
      .intro .wrapper .content a:hover {
        color: #000;
        fill: #000;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in; }
      .intro .wrapper .content p {
        max-width: 700px;
        margin: 0 auto 20px; }
      .intro .wrapper .content ul {
        display: flex;
        padding-left: 0;
        align-items: center;
        justify-content: center; }
        .intro .wrapper .content ul li {
          list-style: none;
          padding-right: 20px; }
          .intro .wrapper .content ul li svg {
            width: 40px; }
    @media (min-width: 1024px) {
      .intro .wrapper {
        display: flex;
        text-align: left;
        align-items: center; }
        .intro .wrapper .visual {
          position: relative;
          width: 50vw; }
          .intro .wrapper .visual.cta {
            width: 65vw; }
          .intro .wrapper .visual div .dev-logo {
            max-width: 150px; }
          .intro .wrapper .visual div .media-box {
            min-height: 60vh; }
        .intro .wrapper .content {
          width: 50vw;
          margin: 0 20px 20px; }
          .intro .wrapper .content.cta {
            width: 35vw; }
          .intro .wrapper .content p {
            max-width: 750px;
            margin: 0 0 20px 0; }
          .intro .wrapper .content ul {
            justify-content: left; } }
    @media (min-width: 1200px) {
      .intro .wrapper .visual {
        width: 40vw; }
      .intro .wrapper .content {
        width: 60vw; } }
    @media (min-width: 1600px) {
      .intro .wrapper .visual .media-box {
        min-height: 55vh; } }
  @media (min-height: 1366px) and (max-height: 1367px) {
    .intro {
      min-height: auto; } }

.portfolio {
  padding: 8% 0; }
  .portfolio .project {
    width: 96%;
    margin: 0 auto;
    padding: 4%; }
    .portfolio .project .content {
      padding: 2% 4% 4%;
      text-align: center; }
      .portfolio .project .content p {
        max-width: 700px;
        margin: 0 auto; }
    .portfolio .project .visual figure {
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .portfolio .project .visual figure .main-vis {
        width: 100%;
        max-width: 400px; }
    @media (min-width: 1024px) {
      .portfolio .project {
        display: flex;
        align-items: center; }
        .portfolio .project .visual {
          width: 50vw; }
        .portfolio .project .content {
          width: 50vw;
          text-align: left;
          padding: 4%; }
          .portfolio .project .content p {
            margin: 0; } }
    @media (min-width: 1200px) {
      .portfolio .project .content {
        width: 60vw; }
      .portfolio .project .visual {
        width: 40vw; } }
  .portfolio .project.zoltash {
    background-color: #161d2b;
    background-image: url("../img/bg-stars.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover; }
    .portfolio .project.zoltash .content p, .portfolio .project.zoltash .content h2 {
      color: #fff; }
    .portfolio .project.zoltash .content button.github {
      background-color: #2531e3; }
      .portfolio .project.zoltash .content button.github i {
        color: white; }
      .portfolio .project.zoltash .content button.github:hover {
        background-color: #121a90; }
    @media (min-width: 1024px) {
      .portfolio .project.zoltash .visual figure .main-vis {
        max-width: 100%; } }

.project.assets {
  background-color: #59adbf;
  background-image: url("../img/fart-cloud.svg");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover; }
  .project.assets button.github {
    background-color: #e54948; }
    .project.assets button.github i, .project.assets button.github p {
      color: #fff; }
    .project.assets button.github:hover {
      background-color: #ae1a19; }
  @media (min-width: 1024px) {
    .project.assets .visual figure .main-vis {
      max-width: 300px; } }

.project.buddy {
  background-color: #f3f7fa; }
  .project.buddy button.github {
    background-color: #c2d7e8; }
    .project.buddy button.github:hover {
      background-color: #78a6cc; }
  @media (min-width: 1024px) {
    .project.buddy .visual figure .main-vis {
      max-width: 100%; } }
  @media (min-width: 1400px) {
    .project.buddy .content {
      width: 50vw; }
    .project.buddy .visual {
      width: 50vw; } }

/*# sourceMappingURL=styles.css.map */
