@import 'variables';
@import 'mixins';
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");




.name{
    max-width:600px;
    margin:0 auto;
    div{
      display: flex;
      input{
        width:100%;
        height:30px;
      }
    }
  }