@import 'variables';
@import 'mixins';
@import url("https://d2ta2fpo91apla.cloudfront.net/fontawesome-free-5.9.0-web/css/all.min.css");




/* html-css.html blog page */
.html-css .styleP{
    margin-top:4%
  }
  .html-css .paddingWrapper .paddingBox{
    background-color: pink;
  }
  .html-css .paddingWrapper .paddingBox:last-of-type{
    background-color: rgb(226, 151, 164);
  }
  
  .html-css .paddingWrapper .paddingBox p{
    margin:0;
  }
  .html-css .paddingWrapper .paddingBox.padding{
    padding:4%;
  }
  .html-css .paddingWrapper .paddingBox.margin{
    margin:2% 4%;
  }
  .html-css .paddingWrapper .paddingBox.border{
    border:10px solid #ff0000
  }
  
  .html-css .paddingWrapper .paddingBox h3 span{
    border-bottom:2px solid #000;
  }
  
  .html-css .paddingWrapper:last-of-type .paddingBox:last-of-type p{
    padding-top:30px;
  }
  
  @media (min-width:768px){
    .html-css .paddingWrapper{
        display: flex;
    }
    
    .html-css .paddingWrapper .paddingBox{
        width: 50%;
    }
  }


  
/* identity and values blog page */
.intro.blog p b{
  margin-top:8%;
}