body {
    position: relative;
    height: 100%;
    margin: 0;
    max-width: 2000px;
    min-width: 320px;
    overflow-x: hidden; 
}


a, p, li {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    position: relative;
    z-index: 1;
    line-height: 1.7em;
    font-size: 18px;
}
      
a:hover {
    color: #2d2929;
    text-decoration: none; 
}
    
p, p span, p a, a {
    color: #2d2929; 
}
    
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6,
.dark p, .dark p span, .dark p a, .dark a, .dark ul, .dark li {
    color: #fff; 
}
    
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase; 
}
      
h1 {
    font-size: 60px; 
}

@media (max-width: 1200px) {
    h1 {
        font-size: calc(16px + 2vw); 
    } 
}
      
h2 {
    color: #2d2929;
    font-size: 30px;
    font-weight: 400; 
}

@media (max-width: 768px) {
    h2 {
        font-size: calc(16px + 2vw); 
    } 
}



/* navigation  */
#navigation{
text-align: center;
}
@media (min-width:768px){
    #navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } 
}

/* Navigation navlinks*/
#navigation .navLinks{
    padding: 0 20px;

}

#navigation .navLinks ul{
    display: flex;
    padding: 0;
}

#navigation .navLinks ul li{
    list-style: none;
    padding: 0 20px;
}

#navigation .navLinks ul li a{
    text-decoration: none;
}

#navigation .navLinks ul li a:hover{
    color:#aa0000;
}
@media (min-width: 320px) and (max-width: 767px) {
    #navigation .navLinks ul{
        justify-content: center;
    }
}



/* Navigation logo*/
#navigation .logo figure{
    padding: 0;
    margin:0;
}

#navigation .logo figure a{
    height: 100%;
    display: flex;
}

#navigation .logo figure svg{
    fill:#aa0000;
    width: 140px;
}

#navigation .logo figure a:hover svg{
    fill:#000000
}

@media (min-width: 320px) and (max-width: 767px) {
    #navigation .logo figure svg{
        fill:#800000
    }
    #navigation .logo figure a{
        height: 100%;
    }
    #navigation .logo figure svg{
        margin: 0 auto;
    }
 }

/* Intro Home page */
.intro{
    padding:4% 8%
}

/* html-css.html blog page */
.html-css .styleP{
    margin-top:4%
}
.html-css .paddingWrapper .paddingBox{
    background-color: pink;
}
.html-css .paddingWrapper .paddingBox:last-of-type{
    background-color: rgb(226, 151, 164);
}

.html-css .paddingWrapper .paddingBox p{
    margin:0;
}
.html-css .paddingWrapper .paddingBox.padding{
    padding:4%;
}
.html-css .paddingWrapper .paddingBox.margin{
    margin:2% 4%;
}
.html-css .paddingWrapper .paddingBox.border{
    border:10px solid #ff0000
}

.html-css .paddingWrapper .paddingBox h3 span{
    border-bottom:2px solid #000;
}

.html-css .paddingWrapper:last-of-type .paddingBox:last-of-type p{
    padding-top:30px;
}

@media (min-width:768px){
    .html-css .paddingWrapper{
        display: flex;
    }
    
    .html-css .paddingWrapper .paddingBox{
        width: 50%;
    }
}